
#content {
    border: 0px solid red;
    margin-top: 60px;
	postion:relative;
}

#newPost {
    width: 60%;
    margin-left: 0;
}

.published_date {
    color: #949494;
    font-size: small;
}

section {
    margin-top: 10px;
}
.navbar-brand{
    cursor: default;
}
#newPostAnchor{
    margin-top: 40px;
}

